Repository stroeer/tapir, pull requests merged in 2022-10, with the labels that each got.

#411 chore(protoc): updated protoc to 21.7
  .github/workflows/pull-request.yml
  Dockerfile
  Makefile
  README.md
  go/go.mod
  go/go.sum
  java/build.gradle
  java/gradle/wrapper/gradle-wrapper.properties
  node-legacy/package-lock.json
  node-legacy/package.json
  node/package-lock.json
  node/package.json
Labels: 🔄 dependencies, java, github_actions, javascript, go, docker

#442 refactor(go): moved go tools from module to Dockerfile
  .github/dependabot.yml
  .github/workflows/pull-request.yml
  Dockerfile
  Makefile
  README.md
  go/README.md
  go/generator_test.go
  go/go.mod
  go/go.sum
  go/tools.go
  java/build.gradle
Labels: go, docker

#445 feat: new Article.SubType "COMPLIANCE"
  stroeer/core/v1/article.proto
Labels: 💅 enhancement
